body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  grid-template-areas:
    "canvas"
    "menu"
    "controls";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto 1fr;
  height: 100%;
  width: 100%;
}


.alert {
  background-color: #ffbcc1;
  border: .1rem solid #570d0d;
  color: #570d0d;
  margin-bottom: 1rem;
  padding: 1rem;
}

.button-control {
  background-color: #ff3434;
  border: none;
  border-radius: .25rem;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: .375rem .75rem;
}

.canvas {
  border: .1em solid #000000;
  display: block;
  margin: 0 auto;
  touch-action: none;
  user-select: none;
}

.canvas-wrapper {
  align-items: center;
  display: flex;
  height: 100%;
}

.canvas-wrapper-wrapper {
  margin: 0 auto;
  max-height: 85vh;
  max-width: 85vw;
}

.canvas-panel {
  background-color: #7f7f7f;
  grid-area: canvas;
  overflow: auto;
}

.color-control {
  background-color: #000000;
  border: .125rem solid #000000;
  border-radius: .25rem;
  font-size: 1rem;
  font-weight: 400;
  height: 2.25rem;
  line-height: 1.5;
  padding: .375rem .75rem;
  vertical-align: -.25rem;
  width: 3rem;
}

.color-control-container {
  display: inline-block;
  position: relative;
}

.control-label {
  margin-bottom: .5rem;
}

.control-panel {
  border-top: .1em solid #000000;
  grid-area: controls;
  overflow: auto;
  padding: 1em;
}

.display-none {
  display: none;
}

.form-control {
  display: block;
  width: 100%;
}

.form-group {
  margin-bottom: 1rem;
}

.hue-slider {
  height: 1.5rem;
  -webkit-appearance: none;
}

@supports (-ms-ime-align: auto) {
  .hue-slider {
    background-image: linear-gradient(
      to right,
      #ff0000 0%,
      #ffff00 16.66%,
      #00ff00 33.33%,
      #00ffff 50%,
      #0000ff 66.66%,
      #ff00ff 83.33%,
      #ff0000 100%
    );
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 100% 1rem;
  }
}

.hue-slider::-moz-range-thumb {
  background-color: #dfdfdf;
  border: 1px solid #8f8f8f;
  border-radius: .25rem;
  box-sizing: border-box;
  height: 1.5rem;
  margin-bottom: -.25rem;
  width: .75rem;
}

.hue-slider::-moz-range-track {
  background: linear-gradient(
    to right,
    #ff0000 0%,
    #ffff00 16.66%,
    #00ff00 33.33%,
    #00ffff 50%,
    #0000ff 66.66%,
    #ff00ff 83.33%,
    #ff0000 100%
  );
  height: 1rem;
}

.hue-slider::-ms-thumb {
  background-color: #dfdfdf;
  border: 1px solid #8f8f8f;
  border-radius: .25rem;
  box-sizing: border-box;
  height: 1.5rem;
  margin-bottom: -.25rem;
  width: .75rem;
}

.hue-slider::-ms-track {
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.hue-slider::-webkit-slider-runnable-track {
  background: linear-gradient(
    to right,
    #ff0000 0%,
    #ffff00 16.66%,
    #00ff00 33.33%,
    #00ffff 50%,
    #0000ff 66.66%,
    #ff00ff 83.33%,
    #ff0000 100%
  );
  height: 1rem;
}

.hue-slider::-webkit-slider-thumb {
  background-color: #dfdfdf;
  border: 1px solid #8f8f8f;
  border-radius: .25rem;
  height: 1.5rem;
  margin-top: -.25rem;
  width: .75rem;
  -webkit-appearance: none;
}

.menu-panel {
  box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.5);
  grid-area: menu;
  padding: .5rem;
  z-index: 2;
}

.popover {
  background-color: #ffffff;
  box-shadow: .125rem .125rem .5rem rgba(0, 0, 0, 143);
  bottom: 2.25rem;
  left: 0;
  padding: 1rem;
  position: absolute;
  z-index: 1;
}

.range {
  background: transparent;
  height: 1.5rem;
  -webkit-appearance: none;
}

.range::-moz-range-thumb {
  background-color: #dfdfdf;
  border: 1px solid #8f8f8f;
  border-radius: .25rem;
  box-sizing: border-box;
  height: 1.5rem;
  margin-bottom: -.25rem;
  width: .75rem;
}

.range::-moz-range-track {
  background-color: #dfdfdf;
  height: .5rem;
}

.range::-ms-track {
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.range::-ms-fill-lower,
.range::-ms-fill-upper {
  background-color: #dfdfdf;
  height: .5rem;
}

.range::-ms-thumb {
  background-color: #dfdfdf;
  border: 1px solid #8f8f8f;
  border-radius: .25rem;
  box-sizing: border-box;
  height: 1.5rem;
  margin-bottom: -.5rem;
  width: .75rem;
}

.range::-webkit-slider-runnable-track {
  background-color: #dfdfdf;
  height: .5rem;
}

.range::-webkit-slider-thumb {
  background-color: #dfdfdf;
  border: 1px solid #8f8f8f;
  border-radius: .25rem;
  height: 1.5rem;
  margin-top: -.5rem;
  width: .75rem;
  -webkit-appearance: none;
}

.sv-picker-bounds {
  background:
    linear-gradient(to bottom,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 255) 100%),
    linear-gradient(to right,rgba(255, 255, 255, 255) 0%,rgba(255, 255, 255, 0) 100%),
    #ff0000;
}

.slide-switch {
  background: #bfbfbf;
  border: none;
  border-radius: 1.5em;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: .375rem;
  transition-duration: .25s;
  transition-property: background-color;
}

.slide-switch:disabled {
  background-color: #dfdfdf;
}

.slide-switch[aria-checked="true"] {
  background: #28b9ff;
}

.slide-switch[aria-checked="true"]:disabled {
  background: #aee4ff;
}

.slide-switch-handle {
  background-color: #ffffff;
  border-radius: 1.5em;
  box-sizing: border-box;
  display: inline-block;
  height: 1.5em;
  margin-bottom: -0.375rem;
  margin-left: 0;
  margin-right: 2rem;
  transition-duration: .25s;
  transition-property: margin-left, margin-right;
  width: 1.5em;
}

.slide-switch[aria-checked="false"] .slide-switch-handle {
  margin-left: 0;
  margin-right: 2rem;
}

.slide-switch[aria-checked="true"] .slide-switch-handle {
  margin-left: 2rem;
  margin-right: 0;
}

.slider-2d {
  border: 1px solid black;
  height: 200px;
  padding: 1em;
  touch-action: none;
  user-select: none;
  width: 200px;
}

.slider-2d[aria-disabled="true"] {
  background-color: #bfbfbf;
}

.slider-2d-box {
  margin: auto;
  position: relative;
  touch-action: inherit;
  user-select: inherit;
}

.slider-2d-bounds {
  background-size: 100% 100%;
  height: 200px;
  margin: auto;
  position: absolute;
  touch-action: inherit;
  user-select: inherit;
  width: 200px;
}

.slider-2d[aria-disabled="true"] .slider-2d-box {
  opacity: 0.25;
}

.slider-2d-selector {
  border: 2px solid #000000;
  border-radius: 2em;
  bottom: -1em;
  box-sizing: border-box;
  height: 2em;
  left: -1em;
  position: absolute;
  touch-action: inherit;
  user-select: inherit;
  width: 2em;
}

.slider-2d-selector::before {
  border: 1px solid #ffffff;
  border-radius: 2em;
  bottom: 0;
  content: "";
  left: 0;
  right: 0;
  position: absolute;
  top: 0;
}

.slider-2d[aria-disabled="true"] .slider-2d-selector {
  background-color: #000000;
}

.tab {
  border: none;
  border-top: .1rem solid #afafaf;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: .375rem;
  width: 100%;
}

.tab:first-child {
  border-top: none;
}

.tab-selected {
  background-color: #ff3434;
  border-top: .1rem solid #ff3434;
  color: #ffffff;
}

.was-validated input:invalid {
  border: 1px solid red;
}


#brush-color {
  background-color: #ffffff;
}

#style-picker-bounds {
  background-image: url("/assets/pattern.png");
}


@media (min-width: 600px) {
  main {
    grid-template-areas:
      "menu menu"
      "canvas controls";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
  }

  .control-panel {
    border: .1em solid #000000;
  }
}


@media (min-width: 900px) {
  main {
    grid-template-areas:
      "menu menu"
      "canvas controls";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr auto;
  }

  .control-panel {
    border: .1em solid #000000;
  }
}